<div class=" card text-center">
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item">
        <a class="nav-link active">Team 1 </a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" aria-disabled="true">Team 2</a>
      </li>

    </ul>
  </div>
  <div class="card-body">
    <!-- <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a> -->


    <div class="container text-center mt-5">
      <div class="row">
        <div class="col">
          <div *ngFor="let item of scoreArray" class="circle">{{item}}</div>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col">
          <button [disabled]="hideButton" type="button" (click)="calcaulateScore('1',1)"
            class="btn btn-outline-primary me-3">1</button>
          <button [disabled]="hideButton" type="button" (click)="calcaulateScore('2',2)"
            class="btn btn-outline-primary me-3">2</button>
          <button [disabled]="hideButton" type="button" (click)="calcaulateScore('3',3)"
            class="btn btn-outline-primary me-3">3</button>
          <button [disabled]="hideButton" type="button" (click)="calcaulateScore('4',4)"
            class="btn btn-outline-primary me-3">4</button>
          <button [disabled]="hideButton" type="button" (click)="calcaulateScore('5',5)"
            class="btn btn-outline-primary me-3">5</button>
          <button [disabled]="hideButton" type="button" (click)="calcaulateScore('6',6)"
            class="btn btn-outline-primary me-3">6</button>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col">
          <button [disabled]="hideButton" type="button" (click)="calcaulateScore('DB',0)"
            class="btn btn-outline-success me-3 mb-2">Dot
            Ball</button>
          <button [disabled]=" hideButton" type="button" (click)="calcaulateScore('WD',1)"
            class="btn btn-outline-success me-3 mb-2">Wide
            Ball</button>
          <button [disabled]=" hideButton" type="button" (click)="calcaulateScore('W',1)"
            class="btn btn-outline-success me-3 mb-2">Wicket</button>
          <button [disabled]=" hideButton" type="button" (click)="calcaulateScore('NB',1)"
            class="btn btn-outline-success me-3 mb-2">No
            Ball</button>
          <button [disabled]=" !hideButton" type="button" (click)="calcaulateScore('newOver',1)"
            class="btn btn-outline-secondary me-3 mb-2">New Over
          </button>
        </div>
      </div>
      <div class=" row mt-4">
        <div class="col">
          <h2>Current Score: {{totalRuns??0}} Runs and {{totalWickets??0}} Wickets</h2>
          <h2>Ball :{{this.ballArray.length??0}}</h2>
          <h2 *ngFor="let item of overRun;let i = index">Overs {{i+1}}: Run {{item??0}}</h2>
        </div>
      </div>
    </div>
  </div>
</div>